img {
  max-width: 100px;
  height: auto;
  margin: 0 auto;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 0;
}
.display-details {
  text-align: center;
}

.App {
  background: #e1f2f7;
  font-family: "Helvetica", sans-serif;
  color: rgb(1, 1, 32);
}

body {
  background: #3778c2;
}
.orange {
    text-decoration: underline;
    text-decoration-color: orange;
}
