*,
*:after,
*:before {
  box-sizing: border-box;
}
.margin-0-auto {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin: 15 0 9 0;
  text-align: center;
  line-height: 1.2;

  /* Set the font size to 24px */
  font-size: 20px;
  /* Set the font weight to bold */
  font-weight: bold;
  /* Set the text color to dark gray */
  color: #000;

  /* Add a text shadow to give the text a subtle 3D effect */
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  /* Add some transition effects to make the text change smoothly when hovered */
  /* transition: text-shadow 0.2s; */
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 0;
}
.display-details {
  text-align: center;
}

.App {
  background: #e1f2f7;
  font-family: "Helvetica", sans-serif;
  color: rgb(1, 1, 32);
}
.questions-display-body {
  min-width: 248px;
}

.cool-css {
  font-family: Helvetica, sans-serif;
  --borderWidth: 2;
  --backdrop: PowderBlue;

  --horizontalPadding: 16;
  --verticalPadding: 8;
  background: var(--backdrop);
  border: calc(var(--borderWidth) * 1px) solid var(--buttonColor);
  border-radius: 9999px;
  line-height: 24px;
  color: var(--textColor, var(--buttonColor));
  cursor: pointer;
  text-decoration: none;

  font-weight: bold;
  outline: transparent;
  padding: calc(var(--verticalPadding) * 1px)
    calc(var(--horizontalPadding) * 1px);
  position: relative;
  text-decoration: none;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  transition: transform 0.2s;
  transform: translate(0, calc(var(--y, 0) * 1%)) scale(var(--scale, 1));
  font-size: 16px;

  /* Change the size of the button */
  width: 250px;
  height: 50px;
  /* Add a border */
  border: 2px solid #9478b3;
  /* Style the button on hover */
  transition: all 0.2s;
  margin: 0 auto;
}

.cool-css:hover {
  --y: -5;
  --scale: 1.05;
  transform: translate(0, calc(var(--y, 0) * 1%)) scale(var(--scale, 1));

  /* Change the background color on hover */
  background-color: #f5e1ff;
  /* Scale the button up slightly */
  transform: scale(1.05);
}

.cool-css:active {
  /* Change the background color when the button is being pressed */
  background-color: PowderBlue;
  /* Scale the button down slightly */
  transform: scale(0.95);
}

#thingsList {
  padding: 0;
  margin: 0;
  margin-left: 4px;
  display: flex;
  /* flex-wrap: wrap; */
  
  flex-direction: column;
  gap: 10px; /* Add spacing between list items */
  }
  
  #thingsList > li {
  display: flex;
  flex-direction: row; /* Align the a tag and button horizontally /
  justify-content: space-between; / Add space between the a tag and button /
  align-items: center; / Align the a tag and button vertically */
  }
  
  #thingsList > li > a {
  text-decoration: none; /* Remove the underline from the text /
  font-style: italic; / Add font style /
  color: blue; / Change text color /
  transition: all 0.5s ease; / Add a transition effect */
  }
  
  #thingsList > li > a:hover {
  color: red; /* Change text color on hover /
  text-decoration: underline; / Add an underline on hover */
  }
  
  #thingsList > li > button {
  background-color: transparent; /* Remove background color /
  border: none; / Remove border /
  color: red; / Change color /
  padding: 0; / Remove padding /
  font-size: 1.5rem; / Increase font size /
  transition: all 0.5s ease; / Add a transition effect */
  }
  
  #thingsList > li > button:hover {
  transform: scale(1.1); /* Increase button size on hover */
  }

body {
  background: #3778c2;
}
.orange {
  text-decoration: underline;
  text-decoration-color: orange;
}
.App-link {
  color: black;
}

.google-img {
  max-width: 100px;
  height: 10px;
  margin: 0;
  /* margin: 0 auto; */
}

.home-button-css {
  width: 160px;
  height: 40px;
  margin: 0 auto;
  background-color: #94b69a;
  margin-top: 12px;
  color: black;
}
.home-button-css:hover {
  color: white;

  background-color: #3d7c47;
}

.deleter-collection {
  margin: 0 0 0 0;
  width: 20px;
  height: 20px;
  font-size: medium;
  background-color: #ffe4e1;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  margin-left: auto; /* Add this line to align the delete button to the right */

  /* right:0 */
}
.deleter-collection:hover {
  background-color: #ffb6c1;
}

.go-to-button {
  width: 160px;
  height: 40px;
  margin: auto;
  margin-bottom: 12px;
  color: white;
  background-color: #4b6777;
}
.go-to-button:hover {
  color: #000;
  background-color: #4cb69f;
}
